/* Buttons */
.button {
  padding: 0.7rem 2rem;
  border-radius: 3px;
  font-family: $roboto;
  font-size: $p-small;
  color: $white;
}
// .button_default {
//   // background-color: $carmine-pink;
//   // border-color: $verdigris;
//   &:hover {
//     // background-color: $medium-aquamarine;
//     // border-color: $medium-aquamarine;
//   }
// }
// .button_positive {
//   // background-color: $verdigris;
//   // border-color: $verdigris;
//   &:hover {
//     // background-color: $medium-aquamarine;
//     // border-color: $medium-aquamarine;
//   }
// }

.article__button {
  background-color: $nickel;
  border-radius: 25px;  
  &:hover {
    background-color: $white;
    border-color: $nickel;
    color: $nickel !important;
  }
}