//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;
// $open-sans: 'Open Sans', sans-serif;

// Tipography
// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black-typo: 900;

// Font Sizes
$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Font style
// $italic: italic;
