//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Tipography
// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black-typo: 900;

// Font Sizes
$xxxx-large: 130px;
$xxx-large: 4.5em;
$xx-large: 2.5em;
$x-large: 1.25em;
$large: 1.15em;
$medium: 1em;
$small: 0.9em;
$x-small: 0.8em;
