//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Tipography
// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold-typo: 800;
$black-typo: 900;

// Font Sizes
$xx-large: 4.4em;
$x-large: 1.875em;
$large: 1.125em;
$p-medium: 1em;
$p-small: 0.75em;

