// color Scheme

// first color scheme
$white: #fff;
$platinum: #E6E7E7;
$ligthgray:#D1d1d1;

// Second Color Scheme
$fuzzy: #e56353;
$ruddy: #d76c69;
$spanish: #ecbcba;

//Third Color Scheme
$ererieb: #121619;
$raisin: #222323;
$nickel: #6C6E70;