.article {
  &__p {
    color: $nickel;
    line-height: 2.5;
  }
  &__button {
    font-size: $p-small;
  }
  &__p--date {
    font-family: $playfair;
  }
  &__p--emphasis {
    color: $ruddy;
  }
}

@media (max-width: 760px) {
  .article__buttons {
    justify-content: center; 
  }
}
@media (max-width: 600px) {
  .article__p {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    
  }
}

