.footer {
  background-color: $ererieb;
  
  &__logo--xs {
    width: 2em;
    padding: 0;
    margin: 0;
  }
  &__logo--xl {
    height: 3em;
  }
  &__column {
    max-width: 1.5em;
    padding: 0;
  }
  &__row {
    line-height: 0.8;
  }
}
