/* Header Layout */
.header {
  background-color: $ererieb;
  // height: 100px;
  &__link {
    font-size: $p-small;
    color: $white;
  }
  &__link--active {
    color: $fuzzy;
  }
  &__row {
    padding-left: 1em;
  }
  &__logoimage {
    width: 8vh;
  }
  &__logo--xs {
    vertical-align: 0%;
    padding: 0;
  }
  &__column {
    max-width: 1em;
    padding: 0;
    margin: 0;
  }
  &__br {
    font-size: 1em;
    line-height: 0;
  }
  &__brand {
    line-height: 0;
  }
}