main {
  position: relative;
  height: 80vh;
}
.main__container {
  display: flex;
  background-image: url('../img/post-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
}
.main__title {
  color: $white;
  max-width: 55%;
}
.main__title-emphasis {
  font-family: $playfair;
  font-style: italic;
  font-weight: $bold;
}
.main__title-emphasis--size-xxl {
  @media (min-width: 761px) {
    font-size: $xx-large;
  }
  @media (max-width: 760px) {
    font-size: $x-large;
  }
}
.main__icon {
  margin-top: -50px;
}
