.main {
  // position: absolute;
  // left: 50%;
  // top: 9.5vh;
  // transform: translateX(-50%);

  background-image: url("../img/post-image.jpg");
  background-repeat: no-repeat;
  width: 100%;
}
// .main__container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;

// }
.main__title {
  color: $white;
  text-align: center;
}
.main__title-emphasis {
  font-family: $playfair;
  font-weight: $bold;
}
.main__title-emphasis--size-xxl {
  font-size: $xxxx-large;
}
// .main__button {
//   margin: -20px;
// }
