.main {
  position: relative;
  height: 80vh;
  &__container {
    display: flex;
    background-image: url("../img/post-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
  }
  &__title {
    color: $white;
    max-width: 55%;
  }
  &__title-emphasis {
    font-family: $playfair;
    font-style: italic;
    font-weight: $bold-typo;
  }
  &__title-emphasis--size-xxl {
    @media (min-width: 761px) {
      font-size: $xx-large;
    }
    @media (max-width: 760px) {
      font-size: $x-large;
    }
  }
  &__icon {
    margin-top: -50px;
  }
}
