.pagination {
  background-color: $platinum;
  height: 20vh;
  &__list {
    list-style: none;
    padding: 0;
  }
  &__button-right {
    border-bottom-right-radius: 1.25rem !important; //sorry
    border-top-right-radius: 1.25rem !important;
    color: $raisin;
  }
  &__button-left {
    border-bottom-left-radius: 1.25rem !important;
    border-top-left-radius: 1.25rem !important;
  }
  &__link {
    color: $raisin;
  }
  &__link-active {
    background-color: $nickel !important;
    border-color: $nickel !important;
    color: $white;
  }
}
